 .u-section-1 {
     background-image: url("../images/fon.png");
     background-position: 50% 50%;
 }
 
 .u-section-1 .u-sheet-1 {
     min-height: 602px;
 }
 
 .u-section-1 .u-group-1 {
     min-height: 526px;
     margin-top: 40px;
     margin-bottom: 40px;
     background-image: none;
     height: auto;
 }
 
 .u-section-1 .u-container-layout-1 {
     padding: 11px 23px 0;
 }
 
 .u-section-1 .u-group-elements-1 {
     width: 538px;
     min-height: 73px;
     height: auto;
     margin: 10px auto 0 0;
 }
 
 .u-section-1 .u-image-1 {
     width: 73px;
     height: 73px;
     margin: 0 auto 0 0;
 }
 
 .u-section-1 .u-btn-1 {
     font-weight: 700;
     font-size: 1.625rem;
     font-style: italic;
     text-decoration: underline !important;
     margin: -57px auto 0 103px;
     padding: 0;
 }
 
 .u-section-1 .u-group-elements-2 {
     width: 547px;
     min-height: 73px;
     height: auto;
     margin: 9px auto 0 0;
 }
 
 .u-section-1 .u-image-2 {
     width: 73px;
     height: 73px;
     margin: 0 auto 0 0;
 }
 
 .u-section-1 .u-btn-2 {
     font-size: 1.625rem;
     font-style: italic;
     font-weight: 700;
     text-decoration: underline !important;
     margin: -57px auto 0 98px;
     padding: 0;
 }
 
 .u-section-1 .u-group-elements-3 {
     width: 559px;
     min-height: 73px;
     height: auto;
     margin: 8px auto 0 0;
 }
 
 .u-section-1 .u-image-3 {
     width: 73px;
     height: 73px;
     margin: 0 auto 0 0;
 }
 
 .u-section-1 .u-btn-3 {
     font-weight: 700;
     font-size: 1.625rem;
     font-style: italic;
     text-decoration: underline !important;
     margin: -57px auto 0 95px;
     padding: 0;
 }
 
 .u-section-1 .u-group-elements-4 {
     width: 559px;
     min-height: 73px;
     height: auto;
     margin: 8px auto 0 0;
 }
 
 .u-section-1 .u-image-4 {
     width: 73px;
     height: 73px;
     margin: 0 auto 0 0;
 }
 
 .u-section-1 .u-btn-4 {
     font-weight: 700;
     font-size: 1.625rem;
     font-style: italic;
     text-decoration: underline !important;
     margin: -57px auto 0 95px;
     padding: 0;
 }
 
 .u-section-1 .u-group-elements-5 {
     width: 559px;
     min-height: 73px;
     height: auto;
     margin: 8px auto 0 0;
 }
 
 .u-section-1 .u-image-5 {
     width: 73px;
     height: 73px;
     margin: 0 auto 0 0;
 }
 
 .u-section-1 .u-btn-5 {
     font-weight: 700;
     font-size: 1.625rem;
     font-style: italic;
     text-decoration: underline !important;
     margin: -57px auto 0 95px;
     padding: 0;
 }
 
 .u-section-1 .u-group-elements-6 {
     width: 559px;
     min-height: 73px;
     height: auto;
     margin: 10px auto 0 0;
 }
 
 .u-section-1 .u-image-6 {
     width: 73px;
     height: 73px;
     margin: 0 auto 0 0;
 }
 
 .u-section-1 .u-btn-6 {
     font-weight: 700;
     font-size: 1.625rem;
     font-style: italic;
     text-decoration: underline !important;
     margin: -57px auto 0 95px;
     padding: 0;
 }
 
 @media (max-width: 1199px) {
     .u-section-1 .u-sheet-1 {
         min-height: 50vw;
     }
     .u-section-1 .u-group-1 {
         min-height: 587px;
         height: auto;
     }
 }
 
 @media (max-width: 991px) {
     .u-section-1 .u-container-layout-1 {
         padding-left: 0;
         padding-right: 0;
     }
     .u-section-1 .u-group-elements-1 {
         width: 499px;
         margin-top: 9px;
         margin-left: 12px;
     }
     .u-section-1 .u-btn-1 {
         font-size: 1.5rem;
         margin-top: -55px;
         margin-right: 0;
         margin-left: auto;
     }
     .u-section-1 .u-group-elements-2 {
         width: 513px;
         margin-top: 11px;
         margin-left: 12px;
     }
     .u-section-1 .u-btn-2 {
         font-size: 1.5rem;
         margin-top: -56px;
     }
     .u-section-1 .u-group-elements-3 {
         width: 523px;
         margin-top: 12px;
         margin-left: 12px;
     }
     .u-section-1 .u-btn-3 {
         font-size: 1.5rem;
         margin-top: -56px;
     }
     .u-section-1 .u-group-elements-4 {
         width: 523px;
         margin-top: 9px;
         margin-left: 12px;
     }
     .u-section-1 .u-btn-4 {
         font-size: 1.5rem;
         margin-top: -56px;
     }
     .u-section-1 .u-group-elements-5 {
         width: 523px;
         margin-top: 11px;
         margin-left: 12px;
     }
     .u-section-1 .u-btn-5 {
         font-size: 1.5rem;
         margin-top: -56px;
     }
     .u-section-1 .u-group-elements-6 {
         width: 523px;
         margin-top: 9px;
         margin-left: 12px;
     }
     .u-section-1 .u-btn-6 {
         font-size: 1.5rem;
         margin-top: -56px;
     }
 }
 
 @media (max-width: 767px) {
     .u-section-1 .u-sheet-1 {
         min-height: 663px;
     }
     .u-section-1 .u-group-1 {
         min-height: 583px;
     }
     .u-section-1 .u-container-layout-1 {
         padding-top: 0;
         padding-bottom: 11px;
     }
     .u-section-1 .u-group-elements-1 {
         width: 498px;
         margin-top: 18px;
         margin-left: 10px;
     }
     .u-section-1 .u-btn-1 {
         margin-top: -73px;
         margin-right: 107px;
         margin-left: 96px;
     }
     .u-section-1 .u-group-elements-2 {
         width: 511px;
         margin-top: 18px;
         margin-left: 10px;
     }
     .u-section-1 .u-btn-2 {
         margin-top: -73px;
         margin-left: 96px;
     }
     .u-section-1 .u-group-elements-3 {
         width: 524px;
         margin-top: 18px;
         margin-right: 6px;
         margin-left: auto;
     }
     .u-section-1 .u-btn-3 {
         margin-top: -73px;
         margin-left: 96px;
     }
     .u-section-1 .u-group-elements-4 {
         width: 524px;
         margin-top: 18px;
         margin-left: 10px;
     }
     .u-section-1 .u-btn-4 {
         margin-top: -73px;
         margin-left: 96px;
     }
     .u-section-1 .u-group-elements-5 {
         width: 527px;
         margin-top: 18px;
         margin-left: 10px;
     }
     .u-section-1 .u-btn-5 {
         margin-top: -73px;
         margin-left: 99px;
     }
     .u-section-1 .u-group-elements-6 {
         margin-top: 18px;
         margin-left: auto;
     }
 }
 
 @media (max-width: 575px) {
     .u-section-1 .u-sheet-1 {
         min-height: 576px;
     }
     .u-section-1 .u-group-1 {
         min-height: 495px;
         width: 398px;
         margin: 41px -29px;
     }
     .u-section-1 .u-group-elements-1 {
         width: 369px;
         min-height: 58px;
         margin-top: 19px;
         margin-left: 11px;
     }
     .u-section-1 .u-image-1 {
         width: 58px;
         height: 58px;
     }
     .u-section-1 .u-btn-1 {
         font-size: 1.125rem;
         margin-top: -43px;
         margin-right: 0;
         margin-left: auto;
     }
     .u-section-1 .u-group-elements-2 {
         width: 379px;
         min-height: 57px;
         margin-top: 19px;
         margin-left: auto;
     }
     .u-section-1 .u-image-2 {
         width: 57px;
         height: 57px;
     }
     .u-section-1 .u-btn-2 {
         font-size: 1.125rem;
         margin-top: -47px;
         margin-left: 68px;
     }
     .u-section-1 .u-group-elements-3 {
         width: 388px;
         min-height: 57px;
         margin-top: 20px;
         margin-right: 0;
     }
     .u-section-1 .u-image-3 {
         width: 57px;
         height: 57px;
     }
     .u-section-1 .u-btn-3 {
         font-size: 1.125rem;
         margin-top: -43px;
         margin-left: 67px;
     }
     .u-section-1 .u-group-elements-4 {
         width: 388px;
         min-height: 57px;
         margin-top: 20px;
         margin-left: 11px;
     }
     .u-section-1 .u-image-4 {
         width: 57px;
         height: 57px;
     }
     .u-section-1 .u-btn-4 {
         font-size: 1.125rem;
         margin-top: -42px;
         margin-left: 67px;
     }
     .u-section-1 .u-group-elements-5 {
         width: 388px;
         min-height: 57px;
         margin-top: 20px;
         margin-left: 11px;
     }
     .u-section-1 .u-image-5 {
         width: 57px;
         height: 57px;
     }
     .u-section-1 .u-btn-5 {
         font-size: 1.125rem;
         margin-top: -41px;
         margin-left: 67px;
     }
     .u-section-1 .u-group-elements-6 {
         width: 385px;
         min-height: 57px;
         margin-top: 17px;
     }
     .u-section-1 .u-image-6 {
         width: 57px;
         left: 5px;
         right: auto;
         height: auto;
         margin: initial;
     }
     .u-section-1 .u-btn-6 {
         font-size: 1.125rem;
         margin-top: 7px;
         margin-right: 0;
         margin-left: auto;
     }
 }